page-gauges {
  .marker{
    //For icons on result bar. Positioned with "middle as origin":
    transform: translateX(-50%);
  }

  .scroll-content {
    background-color: map-get($colors, light);
  }

  ion-card-header {
    font-weight: bold;
  }
}
